body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  background-color: rgba(159, 179, 224, 0.527);
}

h1 {
  margin: 100px;
  font-family: 'Audiowide', sans-serif;
  color: rgb(24, 42, 75);
}

ul {
  color: black;
  font-size: 15px;
}

button {
  margin: 30px;
  background-color: rgb(70, 130, 241);
  color: black;
  font-size: 15px;
  padding: 15px 20px;
}

.dark-mode {
  background-color: black;
  color: white;
}

#errors {
  color: red;
}

#board {
  width: 450px;
  height: 450px;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 48px;
  height: 48px;
  border: 1px solid rgb(170, 167, 167);

  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#digits {
  width: 450px;
  height: 50px;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.number {
  width: 44px;
  height: 44px;
  border: 1px solid rgb(39, 171, 247);
  margin: 2px;

  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-selected {
  background-color: rgb(185, 233, 241);
}

.box-start {
  background-color: white;
}

.horizontal-line {
  border-bottom: 1px solid rgb(39, 171, 247);
}

.vertical-line {
  border-right: 1px solid rgb(39, 171, 247);
}

#gameRules {
  display: none;
  font-family: verdana;
  font-size: 20px;
  position: absolute;
  top: 350px;
  right: 280px;
  width: 400px;
  height: 210px;
  border: 3px solid rgb(39, 171, 247);
}
